name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  Pages:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: dtolnay/rust-toolchain@nightly
        with:
          targets: wasm32-unknown-unknown

      - name: Rust Cache
        uses: Swatinem/rust-cache@v2
        with:
          cache-all-crates: true

      - name: Cache Trunk binary
        id: cache-trunk
        uses: actions/cache@v4
        with:
          path: ~/.cargo/bin/trunk
          key: trunk-${{ runner.os }}-v0.21.14

      - name: Download and install Trunk binary
        if: steps.cache-trunk.outputs.cache-hit != 'true'
        run: wget -qO- https://github.com/trunk-rs/trunk/releases/download/v0.21.14/trunk-x86_64-unknown-linux-gnu.tar.gz | tar -xzf- && mv trunk ~/.cargo/bin/

      - name: Build demo
        working-directory: demo
        run: trunk build --release --public-url /egui-thematic/

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: demo/dist
          single-commit: true
